<nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand" href="<%=root_path%>"><i class="fab fa-earlybirds text-light fa-2x"></i></a> 
      <h1 class="navbar h2 text-light font-weight-bolder">Twitter</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse"           data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"  aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Admin', new_admin_user_session_path, class:'btn btn-light text-light ' %>
          <%= link_to 'Cerrar Sesion', destroy_user_session_path, method: :delete , class:'btn btn-light text-light ' %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to 'Registrate Aqui', new_user_registration_path, class:'btn btn-light text-light' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Inicia Sesion', new_user_session_path, class:'btn btn-light mx-2 text-light'  %>
        </li>
        <% end %>
      </ul>

    </div>
</nav>