<p id="notice"><%= notice %></p>
skip_before_action :authenticate_user!
<h1>Tweets Timeline</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Textweet</th>
      <th>Retweet</th>
      <th>Tweet photo</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.textweet %></td>
        <td><%= tweet.retweet %></td>
        <td><%= tweet.tweet_photo %></td>
        <td><%= tweet.user %></td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

