<p id="notice"><%= notice %></p>

<p>
  <strong>Textweet:</strong>
  <%= @tweet.textweet %>
</p>

<p>
  <strong>Retweet:</strong>
  <%= @tweet.retweet %>
</p>

<p>
  <strong>User:</strong>
  <%= @tweet.user %>
</p>

<p>
  <strong>Usuarios que dieron likes:</strong>
  <% @tweet.likes.each do |like|%>
  <img src="<%= like.user.profile_photo %>" alt="" weight="40px" height="40px">
  <% end %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', root_path %>
