<p id="notice"><%= notice %></p>
<div class="border border-secondary container bg-light my-45">
      <p class="h3">
        <strong>Textweet:</strong>
        <%= @tweet.textweet %>
      </p>
      <p>
        <strong>Retweet:</strong>
        <%= @tweet.retweet %>
      </p>
      <p>
        <strong>User:</strong>
        <%= @tweet.user.nickname %>
        <img src="<%= @tweet.user.profile_photo %>" height="45" width="45" class="border border-black rounded-circle" alt="">
      </p>

      <p>
        <strong>Usuarios que dieron likes:</strong>
        <% @tweet.likes.each do |like|%>
        <img src="<%= like.user.profile_photo %>" weight="40px" height="40px" class=" border border-black rounded-circle" alt="">
        <% end %>
      </p>
      <% if @tweet.user_id == current_user.id%>
        <%= link_to edit_tweet_path(@tweet) do %> 
        <i class="fas fa-edit fa-2x"></i>
          <% end %>
        <%= link_to root_path do %> |
        <i class="fas fa-arrow-circle-left fa-2x"></i>
          <% end %> |
        <%= link_to @tweet, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fas fa-trash-alt fa-2x"></i>
          <% end %>
      <% end  %>
</div>