<% if user_signed_in? %>
  <%= "Bienvenido #{current_user.nickname}"%>
<% end %>
<p id="notice"><%= notice %></p>

<% if user_signed_in?  %>
<div class="border-bottom border-primary">
  <%= render 'tweets/form', tweet: @tweet %>
  </div>
<% end %>
<br>
<h1 class="">Tweets</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Tweet</th>
      <th>Foto_Perfil</th>
      <th>NickName</th>     
      <th>Retweet</th>
      <th>Likes</th>
      <th>Fecha_publicacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.textweet %></td>
        <td><img src="<%= tweet.user.profile_photo %>" height="45" width="45" alt=""></td>
        <td><%= tweet.user.nickname %></td>
        <td><%= tweet.retweet %></td>
        <td><%= tweet.likes.count %> <%= (tweet.likes.count) == 1 ? '' : ''%></td>
        <td><%= link_to time_ago_in_words(tweet.created_at),tweet %></td>
        <% pre_like = tweet.likes.find {|like| like.user.id == current_user.id}  %> 
          <% if pre_like  %>
                  <td> <%= link_to (like_path(tweet.id)), method: :delete do %>
                  <i class="fas fa-thumbs-up fa-2x text-primary"></i></td>
              <% end %>  
              <% else  %>
                  <td> <%= link_to (likes_path(tweet.id)), method: :post do %>
                <i class="far fa-thumbs-up fa-2x text-primary"></i></td>
              <% end %>
          <% end %>
          <td><%= link_to 'Retweet', new_tweet_path, class:'btn btn-primary text-light' %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<br>



<div class="row ">
    <div class="col-md-8 offset-md-2">
        <%= link_to_prev_page @tweets, 'Volver',  class:' btn btn-link mx-2'%>
        <%= link_to_next_page @tweets, 'Mostrar mas tweet', class:'btn btn-link mx-2'%>
    </div>
</div>
